@font-face {
    font-family: "ibp-icons";
    src: url("http://localhost:3000/fonts/ibp-icons.eot?7eb7a5c6cf926814bff37cdcf9234f98#iefix") format("embedded-opentype"),
url("http://localhost:3000/fonts/ibp-icons.woff?7eb7a5c6cf926814bff37cdcf9234f98") format("woff"),
url("http://localhost:3000/fonts/ibp-icons.woff2?7eb7a5c6cf926814bff37cdcf9234f98") format("woff2"),
url("http://localhost:3000/fonts/ibp-icons.ttf?7eb7a5c6cf926814bff37cdcf9234f98") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: ibp-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\f101";
}
.icon-arrow-up:before {
    content: "\f102";
}
.icon-budget:before {
    content: "\f103";
}
.icon-caret-down:before {
    content: "\f104";
}
.icon-caret-left:before {
    content: "\f105";
}
.icon-caret-right-circle:before {
    content: "\f106";
}
.icon-caret-right:before {
    content: "\f107";
}
.icon-close:before {
    content: "\f108";
}
.icon-download:before {
    content: "\f109";
}
.icon-email-filled:before {
    content: "\f10a";
}
.icon-email:before {
    content: "\f10b";
}
.icon-facebook:before {
    content: "\f10c";
}
.icon-filter:before {
    content: "\f10d";
}
.icon-globe:before {
    content: "\f10e";
}
.icon-linkedin:before {
    content: "\f10f";
}
.icon-menu:before {
    content: "\f110";
}
.icon-more:before {
    content: "\f111";
}
.icon-participation:before {
    content: "\f112";
}
.icon-search:before {
    content: "\f113";
}
.icon-share:before {
    content: "\f114";
}
.icon-transparency:before {
    content: "\f115";
}
.icon-twitter:before {
    content: "\f116";
}
.icon-youtube:before {
    content: "\f117";
}
.icon-zoom:before {
    content: "\f118";
}
