body {
  font-family: var(--ibp-body-font-family);
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-width: 375px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ibp-heading-font-family);
  font-weight: 400;
}

h1 {
  font-size: var(--ibp-heading-1-font-size);
  line-height: 1;
  letter-spacing: var(--ibp-letter-spacing-sm);

  @media screen and (max-width: 375px) {
    font-size: 32px;
    line-height: 32px;
  }
}

h2 {
  font-size: var(--ibp-heading-2-font-size);
  line-height: 1;
  letter-spacing: var(--ibp-letter-spacing-sm);

  @media screen and (max-width: 375px) {
    font-size: 24px;
    line-height: 24px;
  }
}

h3 {
  font-size: var(--ibp-heading-3-font-size);
  line-height: 1;
  letter-spacing: var(--ibp-letter-spacing-sm);

  @media screen and (max-width: 375px) {
    font-size: 20px;
    line-height: 20px;
  }
}

h4 {
  font-family: var(--ibp-body-font-family);
  font-size: var(--ibp-heading-4-font-size);
  line-height: 1;
  font-weight: 700;

  @media screen and (max-width: 375px) {
    font-size: 16px;
    line-height: 16px;
  }
}

h5 {
  font-size: var(--ibp-heading-5-font-size);
  line-height: 18px;
  font-family: var(--ibp-body-font-family);
  font-weight: 700;

  @media screen and (max-width: 375px) {
    font-size: 14px;
    line-height: 14px;
  }
}

h6 {
  font-size: var(--ibp-heading-6-font-size);
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: var(--ibp-letter-spacing);
  font-family: var(--ibp-body-font-family);
  font-weight: 800;

  @media screen and (max-width: 375px) {
    font-size: 13px;
    line-height: 13px;
  }
}

a {
  color: var(--ibp-body-text);
  text-decoration: underline;
}

a:hover {
  color: var(--ibp-body-text);
  background-color: rgba(83, 195, 201, .3);
  text-decoration: none;
}

blockquote {
  font-family: var(--ibp-heading-font-family);

  cite {
    font-family: var(--ibp-body-text);
  }
}

// p {
//   font-size: 16px;
//   line-height: 22px;

//   &.sm {
//     font-size: 13px;
//     line-height: 20px;
//   }

//   @media screen and (max-width: 576px) {
//     font-size: 14px;
//     line-height: 22px;

//     &.sm {
//       font-size: 12px;
//       line-height: 18px;
//     }
//   }
// }

.section-title {
  text-transform: uppercase;
  letter-spacing: var(--ibp-letter-spacing);
  font-weight: 800;

  &--large {
    font-size: 24px;
    line-height: 26px;
  }

  &--small {
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
  }
}

.numbers {
  font-family: "DM Mono", monospace;
  font-size: 15px;
  line-height: 15px;

  &--small {
    font-family: "DM Mono", monospace;
    font-size: 9px;
  }
}

.page-title {
  font-family: var(--ibp-heading-font-family);
  font-size: var(--ibp-page-title-font-size);
  letter-spacing: var(--ibp-letter-spacing-sm);
  line-height: 1;
  pointer-events: none;

  @media screen and (max-width: 576px) {
    font-size: 42px;
    line-height: 45px;
    margin-bottom: 15px;
  }

  &--large {
    font-family: var(--ibp-heading-font-family);
    font-size: 120px;
    line-height: 1;

    @media screen and (max-width: 576px) {
      font-size: 50px;
    }
  }
}

p {
  &.sm, &.text-sm {
    font-size: 13px;
    margin: 0;
  }
}

.page-description {
  font-size:18px;
  line-height: 29px;
  
  p {
    line-height: 1.5;
  }


  .btn {
    margin-left: -12px;
  }

  a {
    text-decoration: underline;
  }
}

hr {
  border: solid var(--ibp-hr-height) var(--ibp-footer-bg-dark);
}

ibp-header {
  // min-height: var(--ibp-header-height);

  // &.mini {
  //   min-height: auto;
  // }

  p {
    margin-bottom: 24px;
  }

  [slot="nav-title"] {
    margin-bottom: 36px;
  }

  @media screen and (max-width: 576px) {
    min-height: auto;
  }
}

.btn {
  text-decoration: none!important;
  font-size: 18px;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding: 5px 10px 5px 12px;
  border-radius: 500px;

  i {
    margin-left: 8px;
    font-size: 14px;
  }

  &:hover {
    background: var(--ibp-ecru);
    color: var(--ibp-body-text);
  }

  &--dark {
    &:hover {
      background: white;
    }
  }

  &-pill {
    font-size: 15px;
    letter-spacing: var(--ibp-letter-spacing);
    text-transform: uppercase;
    background: var(--ibp-ecru);
    padding: 6px 12px 5px 12px;
    white-space: nowrap;

    &:hover {
      background: white; 
      outline: 1px solid var(--ibp-ecru);

    }

    &--dark {
      background: var(--ibp-text-highlight-light);
      border-radius: 500px;

      &:hover {
        background: white;
      }
    }
  }
}

.container {
  max-width: 1352px;
  padding: 0 44px;
  margin: 0 auto;

  @media screen and (max-width: 576px) {
    max-width: 100%;
    padding: 0 12px;
    margin: 0 auto;
  }
}

.list-item--checkbox {
  list-style: none; 
  background-image: url($images-path + "/checkbox.svg");
  padding: 0 0 0 32px;
  background-repeat: no-repeat;
  background-size: 24px;
  margin-bottom: 1em;
}

ul.with-checkbox {
  li { 
    @extend .list-item--checkbox;
  }
}


.bg {
  &-ecru {
    background-color: var(--ibp-ecru);
  }

  &-high, &-teal {
    background-color: var(--obs-rating-1);
  }

  &-medium {
    background-color: var(--obs-rating-3);
  }

  &-low {
    background-color: var(--obs-rating-5);
  }

  &-white {
    background-color: #ffffff;
  }
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.text-uppercase {
  text-transform: uppercase;
}

.fw-bold {
  font-weight: bold;
}

// .btn {
//   font-size: 18px;
//   text-decoration: none;
//   color: inherit;
//   font-weight: 700;
//   padding: 5px 10px;
//   border-radius: 500px;

//   i {
//     margin-left: 8px;
//     font-size: 14px;
//   }

//   &:hover {
//     background: white;
//   }
// }

// .btn-highlight {
//   font-size: 12px;
//   text-transform: uppercase;
//   letter-spacing: var(--ibp-letter-spacing);
//   background: var(--ibp-text-highlight-light);
//   outline: 1px solid var(--ibp-text-highlight-light);

//   i {
//     font-size: 9px;
//   }
// }

.icon-circle {
  display: inline-block;
  background: white;
  color: var(--ibp-body-text);
  border-radius: 50%;
  width: 23px;
  height: 23px;
  line-height: 24px;
  margin-right: 8px;

  &:before {
    padding-left: 4px;
  }
}